.footer {
    width: 295px !important;
    height: 105px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -172.5px;
}

.map {
    margin-top: 15px;
    margin-bottom: 110px;
    margin-left: 15px;
    margin-right: 15px;
}

.chart {
    min-height: 400px;
}

.btn-row {
    margin-top: 30px;
}

.btn-men-right {
    width: 150px;
    height: 65px;
    margin-left: -50px;
    background-color: green;
    border: none;
    color: black;
}

.btn-men-left {
    width: 150px;
    height: 65px;
    background-color: green;
    border: none;
    color: black;
}

.copr-heading {
    margin-bottom: 30px;
}

.legend {
    margin-left: 50px;
    margin-top: 10px;
}

.icon-a {
    color: #ff6666;
    margin-right: 7px;
}

.icon-b {
    color: #aec6cf;
    margin-right: 7px;
}

#b{
    margin-top: 15px;
    margin-bottom: -5px;
}

.attack-btn {
    margin-left: 50px;
    margin-top: 30px;
}
