.chart {
    min-height: 470px;
}

.btn-row {
    margin-top: 30px;
}

.battle-row {
    margin-top: 40px;
}

.legend {
    margin-left: 50px;
    margin-top: 10px;
}

.icon-a {
    color: #ff6666;
    margin-right: 7px;
}

.icon-b {
    color: #aec6cf;
    margin-right: 7px;
}

#b{
    margin-top: 15px;
    margin-bottom: -5px;
}

.attack-btn {
    margin-left: 50px;
    margin-top: 30px;
}

.battlefield {
    width: 900px;
}
