.footer {
    width: 295px !important;
    height: 105px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -172.5px;
}

.map {
    margin-top: 15px;
    margin-bottom: 110px;
    margin-left: 15px;
    margin-right: 15px;
}

.chart {
    min-height: 400px;
}

.btn-row {
    margin-top: 30px;
}

.btn-men-right {
    width: 150px;
    height: 65px;
    margin-left: -50px;
    background-color: green;
    border: none;
    color: black;
}

.btn-men-left {
    width: 150px;
    height: 65px;
    background-color: green;
    border: none;
    color: black;
}