<nav class="navbar navbar-expand navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" width="45" src="/assets/barbed-wire.svg">
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="navbar-nav my-2 my-lg-0">
      <button *ngIf="displayRestart" class="btn btn-light btn-left" routerLink="/">
        <i class="fas fa-undo"></i> Restart
      </button>
      <app-info></app-info>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
