<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">COPR</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <app-settings></app-settings>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col"></div>
  <div class="col">
    test
  </div>
  <div class="col"></div>
</div>
