.btn-battle {
    width: 300px;
    margin-top: 85px;
}

.invert {
    filter: invert(1);
}

.clock {
    margin-right: 5px;
}

.center-btn {
    display: block;
    margin: 0 auto;
}

.fire {
   -webkit-filter: invert(1);
   filter: invert(1);
}