.btn-battle {
    width: 300px;
    margin-top: 85px;
}

.btn-clock {
    cursor: default;
    color: black;
    background-color: white;
    border: none;
}

.invert {
    filter: invert(1);
}

.clock {
    margin-right: 5px;
}

.center-btn {
    display: block;
    margin: 0 auto;
}