<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title">
      In pugnam proficisci
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row content">
      <div class="col">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Secret Specifications</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row content">
                <div class="col">
                  Set unit size.
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="settings.armyA.name">
            <ng-template ngbTabContent>
              <p>
                <button class="btn btn-light btn-clock disabled">
                  <i class="far fa-clock" style="margin-right: 5px;"></i>
                  <countdown
                    [config]="countdownConfig">
                  </countdown>  
                </button>
              </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="settings.armyB.name">
            <ng-template ngbTabContent>
              <p>
                <button class="btn btn-light btn-clock disabled">
                  <i class="far fa-clock" style="margin-right: 5px;"></i>
                  <countdown
                    [config]="countdownConfig">
                  </countdown>  
                </button>
              </p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <div class="row float-right">
      <div class="col">
        <button type="button" class="btn btn-danger">Pugna ut vincas</button>
      </div>
    </div>
  </div>
</ng-template>

<button
  class="btn btn-light btn-left btn-battle"
  placement="top"
  ngbTooltip="Battle"
  (click)="open(content)"
  [openDelay]="500">
  <img src="/assets/icons/military-men.svg" width="50">
</button>