<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title">
      <img src="/assets/cannon.svg" width="35">
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row content">
      <div class="col">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Secret Specifications</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row content">
                <div class="col">
                  <button
                    type="button"
                    class="btn  btn-lg btn-danger"
                    (click)="startBattle()">
                    Attack!
                  </button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="settings.armyA.name">
            <ng-template ngbTabContent>
              <div class="form-row content">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="firstUnitCombatA"
                          name="firstUnitCombatA"
                          [(ngModel)]="settings.armyA.firstUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyA.firstUnit.size"
                      type="number"
                      class="form-control"
                      id="firstUnitSizeA"
                      name="firstUnitSizeA"
                      min="1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="secondUnitCombatA"
                          name="secondUnitCombatA"
                          [(ngModel)]="settings.armyA.secondUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyA.secondUnit.size"
                      type="number"
                      class="form-control"
                      id="secondUnitSizeA"
                      name="secondUnitSizeA"
                      min="1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="thirdUnitCombatA"
                          name="thirdUnitCombatA"
                          [(ngModel)]="settings.armyA.thirdUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyA.thirdUnit.size"
                      type="number"
                      class="form-control"
                      id="thirdUnitSizeA"
                      name="thirdUnitSizeA"
                      min="1">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="settings.armyB.name">
            <ng-template ngbTabContent>
              <div class="form-row content">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="firstUnitCombatB"
                          name="firstUnitCombatB"
                          [(ngModel)]="settings.armyB.firstUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyB.firstUnit.size"
                      type="number"
                      class="form-control"
                      id="firstUnitSizeB"
                      name="firstUnitSizeB"
                      min="1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="secondUnitCombatB"
                          name="secondUnitCombatB"
                          [(ngModel)]="settings.armyB.secondUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyB.secondUnit.size"
                      type="number"
                      class="form-control"
                      id="secondUnitSizeB"
                      name="secondUnitSizeB"
                      min="1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input
                          type="checkbox"
                          id="thirdUnitCombatB"
                          name="thirdUnitCombatB"
                          [(ngModel)]="settings.armyB.thirdUnit.combat">
                          <span style="margin-left: 5px;">Combat</span>
                      </div>
                    </div>
                    <input
                      [(ngModel)]="settings.armyB.thirdUnit.size"
                      type="number"
                      class="form-control"
                      id="thirdUnitSizeB"
                      name="thirdUnitSizeB"
                      min="1">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</ng-template>

<button
  [disabled]="!enableBattle"
  class="btn btn-dark btn-left btn-battle"
  (click)="open(content)">
  FIGHT!!!!!!!!!!!111111111
</button>
