<div class="container-fluid settings-card-container">
  <div class="row settings-card">
    <div class="col"></div>
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <img width="35" src="/assets/tent.svg"> Simulation Settings
          </h4>
          <form class="card-text settings">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nameA">Army <i class="fas fa-square army-a"></i></label>
                <input
                  [(ngModel)]="settings.armyA.name"
                  type="text"
                  class="form-control"
                  id="nameA"
                  name="nameA">
              </div>
              <div class="form-group col-md-6">
                <label for="nameB">Army <i class="fas fa-square army-b"></i></label>
                <input
                  [(ngModel)]="settings.armyB.name"
                  type="text"
                  class="form-control"
                  id="nameB"
                  name="nameB">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sizeA">Size  <small class="text-muted">(in persons)</small></label>
                <input
                  [(ngModel)]="settings.armyA.size"
                  type="number"
                  class="form-control"
                  id="sizeA"
                  name="sizeA"
                  min="1">
              </div>
              <div class="form-group col-md-6">
                <label for="sizeB">Size  <small class="text-muted">(in persons)</small></label>
                <input
                  [(ngModel)]="settings.armyB.size"
                  type="number"
                  class="form-control"
                  id="sizeB"
                  name="sizeB"
                  min="1">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="combatPowerA">Power <small class="text-muted">(combat)</small></label>
                <input
                  [(ngModel)]="settings.armyA.combatPower"
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="combatPowerA"
                  name="combatPowerA">
              </div>
              <div class="form-group col-md-3">
                <label for="defencePowerA">Power <small class="text-muted">(defence)</small></label>
                <input
                  [(ngModel)]="settings.armyA.defencePower"
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="defencePowerA"
                  name="defencePowerA">
              </div>
              <div class="form-group col-md-3">
                <label for="combatPowerB">Power <small class="text-muted">(combat)</small></label>
                <input
                  [(ngModel)]="settings.armyB.combatPower"
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="combatPowerB"
                  name="combatPowerB">
              </div>
              <div class="form-group col-md-3">
                <label for="defencePowerA">Power <small class="text-muted">(defence)</small></label>
                <input
                  [(ngModel)]="settings.armyB.defencePower"
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="defencePowerA"
                  name="defencePowerA">
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="law">Law</label>
                <select
                  [(ngModel)]="settings.law"
                  class="custom-select"
                  id="law"
                  name="law">
                  <option value="lanchester">Lanchester</option>
                  <option value="osipov">Osipov</option>
                  <option value="custom">Custom</option>
                </select>
              </div>
            </div>
            <div class="form-group implementation" *ngIf="settings.law === 'custom'">
              <div class="alert alert-info" role="alert">
                <h6 class="alert-heading">
                  Implement a function in JavaScript that calculates the attrition of a unit.
                </h6>
                <p>
                  <ng-katex-paragraph [paragraph]="preParagraph"></ng-katex-paragraph>
                  <ng-katex [equation]="equationA" [options]="options"></ng-katex>
                  <ng-katex [equation]="equationB" [options]="options"></ng-katex>
                  <ng-katex-paragraph [paragraph]="postParagraph"></ng-katex-paragraph>
                </p>
                <p>
                  However, your custom function provides an <code>attacker</code> and an <code>attacked</code> object with properties <code>power</code> (a float > 0 and ≤ 1) and <code>size</code> (an integer > 0), and should return the total number of lost soldiers of the attacked force.
                </p>
              </div>
              <textarea
                [(ngModel)]="settings.implementation"
                name="implementation"
                class="form-control code-area"
                rows="3"></textarea>
            </div>
          </form>
          <button class="btn btn-dark" (click)="startGame()" style="margin-top: -30px;">
            Ludi incipiant
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
