<div class="container-fluid content">
  <div class="row">
    <div class="col"></div>
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <img width="35" src="/assets/tent.svg"> Simulation Settings
          </h4>
          <form class="card-text settings">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nameA">Army A</label>
                <input
                  [(ngModel)]="settings.armyA.name"
                  type="text"
                  class="form-control"
                  id="nameA"
                  name="nameA">
              </div>
              <div class="form-group col-md-6">
                <label for="nameB">Army B</label>
                <input
                  [(ngModel)]="settings.armyB.name"
                  type="text"
                  class="form-control"
                  id="nameB"
                  name="nameB">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sizeA">Size</label>
                <input
                  [(ngModel)]="settings.armyA.size"
                  type="number"
                  class="form-control"
                  id="sizeA"
                  name="sizeA"
                  min="1">
              </div>
              <div class="form-group col-md-6">
                <label for="sizeB">Size</label>
                <input
                  [(ngModel)]="settings.armyB.size"
                  type="number"
                  class="form-control"
                  id="sizeB"
                  name="sizeB"
                  min="1">
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="law">Law</label>
                <select
                  [(ngModel)]="settings.law"
                  class="custom-select"
                  id="law"
                  name="law">
                  <option value="lanchester">Lanchester</option>
                  <option value="osipov">Osipov</option>
                  <option value="custom">Custom</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="timePerBattle">Time per battle <small class="text-muted">(in seconds)</small></label>
                <input
                  [(ngModel)]="settings.timePerBattle"
                  type="number"
                  class="form-control"
                  id="timePerBattle"
                  name="timePerBattle"
                  min="1">
              </div>
            </div>
            <div class="form-group implementation" *ngIf="settings.law === 'custom'">
              <div class="alert alert-info" role="alert">
                <h6 class="alert-heading">
                  Implement a function in JavaScript that calculates the attrition of a unit.
                </h6>
                <p>
                  The function provides an <code>attacker</code> and an <code>attacked</code> object with the following properties:
                </p>
                <ul>
                  <li><code>size</code>: Total size of the unit, an integer > 0.</li>
                  <li><code>power</code>: Fighting power, a float > 0 and ≤ 1.</li>
                </ul>
                <p class="mb-0">
                  <i class="fas fa-exclamation-circle"></i> Write only the function’s body and return an integer, the attrition.
                </p>
              </div>
              <textarea
                [(ngModel)]="settings.implementation"
                name="implementation"
                class="form-control code-area"
                rows="3"></textarea>
            </div>
          </form>
          <button class="btn btn-secondary" (click)="startGame()">
            Ludi incipiant
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
