.settings {
    margin-top: 30px;
    margin-bottom: 25px;
}

.code-area {
    font-family: 'Courier New', Courier, monospace;
}

.secret-content {
    margin-top: 15px;
}

.list-div {
    margin-bottom: -15px;
}

.stacked {
    margin-bottom: 20px;
}

.content {
    margin-top: 49px !important;
}

.implementation {
    margin-bottom: 40px;
}

.army-a {
    margin-left: 2px;
    color: rgb(194, 59, 34, 0.8);
}

.army-b {
    margin-left: 2px;
    color: rgb(119, 158, 203, 0.8);
}

.settings-card-container {
    margin-top: 18px;
}

.settings-card {
    margin-bottom: 18px;
}