<div class="col battlefield">
  <div class="row" >
    <div [style.width.%]="a">
            <img src="/assets/two-soldiers.svg" height="80px" style="margin-left: calc(100% - 80px);">
    </div>
    <div [style.width.%]="middle"></div>
    <div [style.width.%]="b">
            <img src="/assets/two-soldiers.svg" height="80px" class="icon-b" style="margin-right: calc(100% - 80px);">
           </div>
  </div>
</div>

<!--

    <img src="/assets/two-soldiers.svg" height="80px" [style.margin-left.%]="90">
    <img src="/assets/two-soldiers.svg" height="80px" class="icon-b" [style.margin-right.%]="b">


-->