.battlefield {
    margin-bottom: 0px;
}

.side-a {
    background-color: rgba(174, 198, 207, 0.3);
    padding: 10px;
}

.side-b {
    background-color: rgba(255, 102, 102, 0.3);
    padding: 10px;
}

.icon-b {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    fill: red !important;
}